<%- include('lc/includes/header') -%>

    <section>
        <div class="container text-center pt-5 mb-5 pb-5">
            <div class="row pb-5 mb-5 pt-5">
                <h1 class="e404">ERROR:404</h1>
                <h4 class="p404">La pagina solicitada no existe</h4>

            </div>
        </div>
    </section>

    <%- include('lc/includes/footer') -%>