<%- include('includes/header') -%>
    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Acerca de Sivespa</h2>

                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_informacion.png" class="d-block w-100" alt="...">

            </div>

        </div>
    </div>
    <!--Area de Principal-->
    <div class="container informacion mt-5" id="">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h3>¿Qué es Sivespa?</h3>
                <p>SIVESPA es el “sistema integral de vigilancia epidemiológica del consumo de sustancias psicoactivas (SPA) en Antioquia” La recolección de datos se realiza con la participación de diferentes entidades que aportan la notificación rutinaria
                    de casos atendidos en la consulta de todos los servicios de salud, además de la recolección de datos de distintas fuentes secundarias ya disponibles y la participación comunitaria.
                </p>
                <br>
                <h3>Su objetivo</h3>
                <p>Generar información sistemática, periódica y oportuna del consumo de sustancias psicoactivas en el departamento de Antioquia, con el fin de utilizar los resultados en el desarrollo de estrategias de prevención y atención integral a la
                    población consumidora
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 text-center">
                <img src="/landing/images/img_info1.png" alt="" class="w-50">
            </div>
        </div>

    </div>



    <%- include('includes/footer') -%>