<!--barra de menu-->

<%- include('includes/header') -%>


    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Contacto</h2>

                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_contacto.png" class="d-block w-100" alt="...">

            </div>

        </div>
    </div>
    <!--Area de Principal-->
    <div class="container contacto mt-lg-5">

        <div class="row text-center">
            <h4 class="mb-5">Puedes comunicarte a cualquiera de nuestras lineas de atención en los horarios 00:00am - 00:00pm</h4>
            <div class="col-lg-4">
                <ul>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                    <li class="mb-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>
                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                    <li class="mb-lg-4">

                        Nombre de la linea: <br> 555-555-555
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <%- include('includes/footer') -%>