<%- include('includes/header') -%>

    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Descargas</h2>
                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_descargas.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!--Area de Principal-->
    <div class="container mt-5 descargas">
        <div class="row ">
            <div class="col-lg-6 col-xs-12">
                <p class="text-start">El SIVESPA es un aplicativo construido como una <a href="https://support.google.com/chrome/answer/9658361?hl=es&co=GENIE.Platform%3DDesktop" >PWA</a> Puedes descargar el aplicativo des los navegadores Mozilla Firefox, Google Chrome, Microsoft Edge, Opera. Tambien vamos habilitar un aplicativo de escritorio por separado para los navegadores de windows Explorer.</p>
            </div>
            <div class="col-lg-6 col-xs-12">
                <h3>Descargar en Crhome</h3>
                <ul>
                    <li>
                        <i class="bi bi-circle-fill"></i> Abre Chrome en el ordenador.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Ingresa a wwww.sivespa.site
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> En la parte superior derecha de la barra de direcciones, haz clic en Instalar.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Sigue las instrucciones que aparecen en pantalla para instalar la PWA.
                    </li>
                </ul>
                <h3>Descargar en Microsoft Edge</h3>
                <ul>
                    <li>
                        <i class="bi bi-circle-fill"></i> Abre Microsoft Edge en el ordenador.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Ingresa a wwww.sivespa.site
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Espera varios segundos hasta que aparezca una icono en forma de + en la barra de direcciones.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Ahora se abre una pequeña ventana en la que tendrás que hacer clic en: Instalar y sigue las instrucciones.
                    </li>
                </ul> 
                <h3>Descargar en Safari</h3>
                <ul>
                    <li>
                        <i class="bi bi-circle-fill"></i> Abre Safari en el ordenador.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Ingresa a wwww.sivespa.site
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Haz click en el botón compartir.
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> Haz click en «Añadir a la pantalla de incio»
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <%- include('includes/footer') -%>
