<%- include('includes/header') -%>

    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Descargas</h2>

                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_descargas.png" class="d-block w-100" alt="...">

            </div>

        </div>
    </div>
    <!--Area de Principal-->
    <div class="container mt-5 descargas">

        <div class="row ">
            <div class="col-lg-8 col-xs-12 text-center">
                <p class="text-start">Puedes descargar la aplicacion con todo su contenido desde los siguientes links o buscar Sivespa en la playstore de tu dispositivo movil</p>
                <div class="row">
                    <div class="col-lg-4"><img src="/landing/images/playStore-button.png" alt=""></div>
                    <div class="col-lg-4"><img src="/landing/images/appStore-button.png" alt=""></div>
                    <div class="col-lg-4"><img src="/landing/images/huaweiStore-button.png" alt=""></div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <h3>Características de la aplicación:</h3>
                <ul>
                    <li>
                        <i class="bi bi-circle-fill"></i> lorem ipsum
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> lorem ipsum
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> lorem ipsum
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> lorem ipsum
                    </li>
                    <li>
                        <i class="bi bi-circle-fill"></i> lorem ipsum
                    </li>
                </ul>
            </div>
        </div>


    </div>


    <%- include('includes/footer') -%>