<%- include('includes/header') -%>
    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Mitos y Realidades</h2>

                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_faq.png" class="d-block w-100" alt="...">

            </div>

        </div>
    </div>
    <!--Area de Principal-->
    <div class="container mt-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        La marihuana no es mala, porque se saca de una planta y eso natural. 

                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">No es cierto que sea natural, ya que actualmente, con el gran negocio del autocultivo, se consiguen plantas que han sido manipuladas genéticamente para conseguir concentraciones de THC superiores a lo normal. No todo lo natural es
                        sano.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        El alcohol es menos peligroso que otras drogas.



                                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">El alcohol y el tabaco matan 50 veces más que la heroína, cocaína o cualquiera de las demás drogas.


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Las drogas no son buenas ni malas, depende del uso que se haga de ellas. 

                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Las drogas (salvo los medicamentos correctamente utilizados) son sustancias tóxicas y desde su primer consumo existe riesgo para la salud de la persona que las consume.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        Las drogas alivian el stress y las angustias
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Las drogas te hacen evadirte unos momentos de los problemas. Cuando se pasa el efecto...el problema sigue estando.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingdive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        Para pasarlo bien hay que beber alcohol
                        </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">El alcohol produce una “buena onda” temporal, que termina cuando se acaba el efecto. Beber en exceso puede traer un buen momento, pero luego podemos sentirnos cansados, deprimidos o nerviosos
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingsix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        Las personas con dependencia a las drogas tomaron una decisión equivocada.
                  </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Los Estados Miembros de las Naciones Unidas han reconocido desde 2019 que la dependencia a las drogas es un asunto de salud relacionado con múltiples factores. Esto significa que existen diversas variables que incrementan la posibilidad
                        de que alguien comience a utilizar drogas o desarrolle desórdenes por su consumo. Estos factores escapan en gran medida del control del individuo; están ligados, por ejemplo, a la genética, la salud mental o el ambiente (por ejemplo,
                        estrés o trauma relacionados con vivir en una comunidad marginada o violenta, dificultades familiares).
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                        A nivel global, la mayor parte de las personas no usa drogas.
                </button>
                </h2>
                <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">De acuerdo con el Reporte Mundial de Drogas 2019, a pesar de los incrementos, el porcentaje de personas que usan drogas a nivel global es de 55.5%, o sea 271 millones de personas. De éstas, 35 millones sufren desórdenes por el uso
                        de drogas y requieren tratamiento. <br> A pesar de que la incidencia entre personas jóvenes es en general más alta que entre la población general, incluso en el caso del cannabis (la droga con la tasa más alta de incidencia), solamente
                        unos pocos países reportan que más del 30% de los y las jóvenes la han consumido durante el último año. <br>Las personas que usan drogas y con desórdenes por su uso pueden sufrir diversas consecuencias sanitarias y sociales de
                        gravedad.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                        Las drogas afectan por igual a hombres y a mujeres.
              </button>
                </h2>
                <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Las mujeres absorben y metabolizan muchas sustancias, incluidas las drogas, de manera diferente a los hombres. Las mujeres con desórdenes por el uso de drogas tienen tasas más altas de otros problemas de salud que el promedio, como
                        por ejemplo VIH/SIDA y trastornos concurrentes de salud mental. A nivel global, el acceso a los servicios de salud es más limitado para mujeres con desórdenes por el uso de drogas: a pesar de que 1 de cada 3 personas que usan drogas
                        es mujer, y solamente 1 de cada 5 personas en tratamiento por drogas lo es. Además, proporcionalmente más mujeres que hombres están en prisión por delitos relacionados con drogas. Por último, las mujeres sufren doble estigma y
                        discriminación. Sus necesidades específicas deben ser consideradas en la prestación de servicios de tratamiento, de salud y apoyo social, ya que han demostrado superar los retos tan bien como sus contrapartes masculinas cuando
                        se les ofrecen servicios basados en la evidencia y sensibles al género.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                        El uso recreativo de medicamentos psicoactivos puede ser seguro.
              </button>
                </h2>
                <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Al igual que muchas otras medicinas, los medicamentos psicoactivos sometidos a fiscalización requieren una receta de un médico certificado y son suministrados por un farmacólogo calificado. <br> Esto se hace para garantizar que el
                        medicamento sea seguro para el paciente y que éste conozca y entienda sus efectos secundarios. En cuanto al uso de medicamentos psicoactivos para usos no médicos, por ejemplo, sin receta o de manera diferente a la prescrita, éste
                        no es seguro, puede perjudicar la salud y debe ser evitado en todo momento.<a href=" https://www.unodc.org/unodc/en/drug-prevention-and-treatment/publications.html" class="green_ok"> Leer Articulo</a>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
                        No existen usos legítimos de las drogas, todas están prohibidas.
                  </button>
                </h2>
                <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Algunas de las sustancias psicoactivas que están sometidas a fiscalización (no “prohibidas”) conforme a las Convenciones Internacionales sobre Drogas tienen usos importantes en la investigación y la práctica médica, particularmente
                        en lo que respecta a los tratamientos para el dolor, el tratamiento y atención de personas con trastornos por el uso de drogas y el tratamiento de desórdenes de la salud mental. Las Convenciones permiten asegurar que las personas
                        que necesitan de estas sustancias tengan acceso a ellas, al mismo tiempo que evitan su desviación y uso no médico.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                        Proporcionar tratamiento a personas con desórdenes por el uso de drogas es más efectivo que la condena o el castigo.

                  </button>
                </h2>
                <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Los desórdenes por el uso de drogas son trastornos de salud multifactoriales. Como tales, sólo pueden ser abordados de manera efectiva mediante tratamientos contra las drogas, servicios de salud y protección social que se ofrecen en
                        el contexto del sistema sanitario como se hace con cualquier otro trastorno de salud. Los tratamientos voluntarios basados en la evidencia son eficaces para reducir el consumo de drogas, la delincuencia y la reincidencia, y han
                        demostrado ser más rentables en función de los costos que la carencia de tratamientos o la prisión. Además, el derecho a la salud es un derecho humano fundamental y las personas que consumen drogas, incluyendo aquellas con desórdenes
                        por su uso, no pierden su derecho a la atención sanitaria, aún cuando estén en contacto con el sistema de justicia penal, ya sea que estén, o no, en algún centro penitenciario. De hecho, el tratamiento y la atención se recomiendan
                        como alternativa al encarcelamiento o el castigo en casos pertinentes de carácter menor. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
                        Las personas con trastornos por consumo de drogas no pueden ser tratadas.
                </button>
                </h2>
                <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">La dependencia de las drogas a menudo es resultado de un trastorno de salud crónico y reincidente que se caracteriza por cambios en el funcionamiento del cerebro que persisten a largo plazo. Por lo tanto, incluso para las personas
                        en tratamiento, la recaída es previsible y no debe ser considerada un fracaso del tratamiento o del individuo. Por el contrario, el correcto manejo de una posible recaída debe ser un componente clave y normal de los servicios ofrecidos
                        para el tratamiento de los trastornos por el consumo de drogas. De hecho, se ha demostrado que las personas con este tipo de desórdenes que tienen la oportunidad de acceder a un tratamiento voluntario basado en la evidencia, además
                        de atención sanitaria y protección social, pueden llevar una vida sana y productiva.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
                        La mayoría de las muertes por sobredosis se pueden prevenir.
              </button>
                </h2>
                <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-heading13" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">De las más de 500.000 muertes relacionadas con las drogas que se producen alrededor del mundo cada año, la mayoría está relacionada con el uso de opioides. El tratamiento basado en la evidencia que incluye opciones farmacológicas (como
                        la metadona o la buprenorfina) y el apoyo psicosocial es una estrategia efectiva para la prevención de las sobredosis de opioides. Además, se ha demostrado que la naxalona, un antídoto de los opioides y un medicamento barato y
                        seguro sin propiedades psicoactivas es eficaz para reducir la mortalidad por sobredosis, incluso cuando es administrada por primeros respondientes como agentes de policía, compañeros o familiares, siempre y cuando hayan recibido
                        capacitación.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
                        ¿El alcohol nos pone “chéveres”?
            </button>
                </h2>
                <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading14" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p> El estado “chévere” es temporal, luego sobreviene un efecto de cansancio, nerviosismo o depresión. Hay un efecto de desinhibición que puede generar problemas con la ley, violencia o conflictos.


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading15">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15">
                        Si se inicia el consumo de drogas joven, hay más probabilidades de ser dependiente.



                  </button>
                </h2>
                <div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-heading15" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        Múltiples investigaciones señalan que mientras más temprano se inicie el consumo de drogas, más probabilidades de generar una adicción, debido a la vulnerabilidad del sistema nervioso central en desarrollo.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading16">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse16">
                        ¿El consumo de sustancias psicoactivas incrementa la creatividad?
                </button>
                </h2>
                <div id="flush-collapse16" class="accordion-collapse collapse" aria-labelledby="flush-heading16" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        La creatividad es una habilidad que depende de las funciones cerebrales complejas, las drogas pueden incrementar la percepción de los estímulos sensoriales, creando una falsa sensación de innovación, de conceptos previamente almacenados en tu cerebro.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading17">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse17" aria-expanded="false" aria-controls="flush-collapse17">
                        ¿Las sustancias psicoactivas afectan el sistema nervioso central?
                    </button>
                </h2>
                <div id="flush-collapse17" class="accordion-collapse collapse" aria-labelledby="flush-heading17" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        Desde la primera dosis actúan a nivel cerebral, ocasionando cambios específicos a sus funciones.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading18">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse18" aria-expanded="false" aria-controls="flush-collapse18">
                        ¿Todas las personas se emborrachan con la misma cantidad de alcohol?
                  </button>
                </h2>
                <div id="flush-collapse18" class="accordion-collapse collapse" aria-labelledby="flush-heading18" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        El efecto del alcohol es diferente en todas las personas, depende del metabolismo, de su estado de ánimo y de la contextura física.



                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading19">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse19" aria-expanded="false" aria-controls="flush-collapse19">
                        Se requiere consumir sustancias por mucho tiempo para que estas causen daño.
                    </button>
                </h2>
                <div id="flush-collapse19" class="accordion-collapse collapse" aria-labelledby="flush-heading19" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        Existen riesgos desde la primera dosis, como nerviosismo, pánico, alteraciones respiratorias y cardiovasculares, compromiso de las funciones mentales entre otros.


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading20">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse20" aria-expanded="false" aria-controls="flush-collapse20">
                        El que consume drogas puede dejarlas cuando quiera.
                  </button>
                </h2>
                <div id="flush-collapse20" class="accordion-collapse collapse" aria-labelledby="flush-heading20" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        La adicción es un fenómeno neurobiológico, que va más allá de la acción voluntaria del consumo, para salir del problema se requiere ayuda especializada de personal profesional.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading21">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse21" aria-expanded="false" aria-controls="flush-collapse21">
                        ¿El alcohol ayuda a solucionar los problemas?
                  </button>
                </h2>
                <div id="flush-collapse21" class="accordion-collapse collapse" aria-labelledby="flush-heading21" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        El problema continúa y se pueden incrementar los sentimientos de tristeza, rabia, nostalgia, despecho y frustración.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading22">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse22" aria-expanded="false" aria-controls="flush-collapse22">
                        La marihuana no afecta los pulmones.
                    </button>
                </h2>
                <div id="flush-collapse22" class="accordion-collapse collapse" aria-labelledby="flush-heading22" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        La marihuana afecta los pulmones porque el humo se retiene en ellos, conteniendo el monóxido de carbono. Esto los inflama y aumenta el riesgo de contraer enfermedades como la neumonía, bronquitis crónica, etc. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading23">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse23" aria-expanded="false" aria-controls="flush-collapse23">
                        ¿Una cerveza, una copa de vino o un trago de otro licor tienen la misma concentración de alcohol?                    </button>
                </h2>
                <div id="flush-collapse23" class="accordion-collapse collapse" aria-labelledby="flush-heading23" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        Porque depende del grado de alcohol de cada trago. ¡Revisa la etiqueta!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading24">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse24" aria-expanded="false" aria-controls="flush-collapse24">
                        El consumo de marihuana no hace daño.   </button>
                </h2>
                <div id="flush-collapse24" class="accordion-collapse collapse" aria-labelledby="flush-heading24" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        La marihuana puede generar dependencia. Su consumo produce dificultades en la capacidad de aprendizaje, problemas de concentración, altera la memoria inmediata y desmotiva.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading25">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse25" aria-expanded="false" aria-controls="flush-collapse25">
                        Al usar cocaína, aumentan las relaciones sociales.             </button> </h2>
                <div id="flush-collapse25" class="accordion-collapse collapse" aria-labelledby="flush-heading25" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        El efecto estimulante de la cocaína puede dar una falsa sensación de seguridad en uno mismo y cierta sociabilidad. Es un efecto pasajero, que posteriormente se transforma en fatiga, depresión, mal humor e, incluso, agresividad.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading26">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse26" aria-expanded="false" aria-controls="flush-collapse26">
                        Una intoxicación grave con alcohol puede producir la muerte.
                    </button>
                </h2>
                <div id="flush-collapse26" class="accordion-collapse collapse" aria-labelledby="flush-heading26" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        Si la intoxicación es grave, existe un alto riesgo de morir, ya que puede causar parálisis respiratoria y compromiso cardiovascular, así mismo pérdida de conocimiento, problemas respiratorios, gastritis crónica y alterar el funcionamiento del hígado,
                        lo que puede llevar finalmente a una cirrosis hepática.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading27">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse27" aria-expanded="false" aria-controls="flush-collapse27">
                        ¿Es aconsejable tomar despacio?
                    </button>
                </h2>
                <div id="flush-collapse27" class="accordion-collapse collapse" aria-labelledby="flush-heading27" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        El hígado solo puede metabolizar el alcohol a un ritmo de una cerveza o un trago de otro licor por hora.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading28">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse28" aria-expanded="false" aria-controls="flush-collapse28">
                        ¿Todas las bebidas alcohólicas deshidratan?
                    </button>
                </h2>
                <div id="flush-collapse28" class="accordion-collapse collapse" aria-labelledby="flush-heading28" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, harum veritatis, labore, quas repellat iure officia blanditiis cumque molestiae recusandae assumenda! Harum, nesciunt iure neque modi natus atque quidem eveniet!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading29">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse29" aria-expanded="false" aria-controls="flush-collapse29">
                        La cocaína ayuda a rendir más.
                    </button>
                </h2>
                <div id="flush-collapse29" class="accordion-collapse collapse" aria-labelledby="flush-heading29" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        La cocaína estimula el sistema nervioso, induciendo una sensación de energía, y mayor rendimiento físico. Sin embargo, esta sensación termina cuando se acaba el efecto y va acompañada de ansiedad, nerviosismo, y problemas en el funcionamiento cardíaco,
                        que podrían generar arritmias cardiacas y con esto infartos tempranos y muerte.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading30">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse30" aria-expanded="false" aria-controls="flush-collapse30">
                        Los inhalantes producen daños reversibles.
                    </button>
                </h2>
                <div id="flush-collapse30" class="accordion-collapse collapse" aria-labelledby="flush-heading30" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        Los daños a largo plazo incluyen alteraciones renales y hepáticas, disminución de las capacidades con desorientación, fallas en la coordinación y otras consecuencias crónicas, incluida la muerte.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading31">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse31" aria-expanded="false" aria-controls="flush-collapse31">
                        ¿El alcohol es afrodisíaco?
                   </button>
                </h2>
                <div id="flush-collapse31" class="accordion-collapse collapse" aria-labelledby="flush-heading31" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        El alcohol es un depresor del sistema nervioso central; por consiguiente, tiene un efecto inhibidor sobre la estimulación sensorial y sobre las respuestas fisiológicas.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading32">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse32" aria-expanded="false" aria-controls="flush-collapse32">
                        ¿El alcohol puede generar susceptibilidad o agresividad?
                   </button>
                </h2>
                <div id="flush-collapse32" class="accordion-collapse collapse" aria-labelledby="flush-heading32" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        El alcohol aumenta la reactividad emocional, la susceptibilidad, irritabilidad e intolerancia y disminuye la percepción de riesgo.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading33">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse33" aria-expanded="false" aria-controls="flush-collapse33">
                        ¿Es bueno tomar despacio?
                    </button>
                </h2>
                <div id="flush-collapse33" class="accordion-collapse collapse" aria-labelledby="flush-heading33" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="green_ok">Verdad:</p>
                        El alcohol es un depresor del sistema nervioso central, cuando aumenta la concentración de alcohol en la sangre, disminuyen paulatinamente las funciones y facultades mentales. Toma despacio y mantente activo.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading34">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse34" aria-expanded="false" aria-controls="flush-collapse34">
                        Si fumas marihuana el fin de semana, el lunes estás bien
                    </button>
                </h2>
                <div id="flush-collapse34" class="accordion-collapse collapse" aria-labelledby="flush-heading34" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        Los efectos de la marihuana pueden durar hasta 3 días en tu cuerpo y mente. Inclusive puede quedarse hasta 3 meses en tu sistema, después de usarla una sola vez </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading35">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse35" aria-expanded="false" aria-controls="flush-collapse35">
                        Los adolescentes son muy jóvenes para volverse adictos                    </button>
                </h2>
                <div id="flush-collapse35" class="accordion-collapse collapse" aria-labelledby="flush-heading35" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="red_warning">Falso:</p>
                        Los efectos de la marihuana pueden durar hasta 3 días en tu cuerpo y mente. Inclusive puede quedarse hasta 3 meses en tu sistema, después de usarla una sola vez
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading36">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse36" aria-expanded="false" aria-controls="flush-collapse36">
                        El cigarrillo y el alcohol no son drogas

                    </button>
                </h2>
                <div id="flush-collapse36" class="accordion-collapse collapse" aria-labelledby="flush-heading36" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Hay drogas legales, como el alcohol y el cigarrillo, ya que generan dependencia y se asocian a varias enfermedades
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading37">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse37" aria-expanded="false" aria-controls="flush-collapse37">
                        La marihuana me da más creatividad y fuerza

                    </button>
                </h2>
                <div id="flush-collapse37" class="accordion-collapse collapse" aria-labelledby="flush-heading37" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        La marihuana puede ocasionar daños a mediano y largo plazo más severos que los posibles beneficios a corto plazo.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('includes/footer') -%>