<%- include('includes/header')-%>

    <!--Banner-->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner text-center">
                    <h2>Tutoriales</h2>

                </div>
                <div class="overlay"></div>
                <img src="/landing/images/banner_noticias.png" class="d-block w-100" alt="...">

            </div>

        </div>
    </div>
    <!--Area de Principal-->
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-xs-12">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/p-270mtyHDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


    </div>
    <%- include('includes/footer')-%>