<footer class="mt-5 d-none d-md-block d-lg-none ">
    <a href="../legales/politicas.html ">Política de privacidad y uso de datos</a>
</footer>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- JS boots -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
<!--Js del slide de preguntas del reporte-->
<script src="/admin/scripts/configuracion.js "></script>
<script src="/admin/scripts/slide_reporte_spa.js "></script>
<script src="/admin/scripts/darkmode.js"></script>
<script src="/admin/scripts/estadisticasControl.js"></script>
<script src="/admin/scripts/desinforme.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
 
</body>

</html>